<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>FishBlock -  {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" />
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block nav %}
        {% include 'nav.html.twig' %}
    {% endblock %}
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.2.0.js" charset="utf-8"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
        {% endblock %}
    </body>
</html>
