{% block footer %}

<footer class="page-row">
 <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Site Construit By Groupe n°3        
      </p>
      
      <a href="http:/THETVBD.com" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe on THETVBD</a>
    </div>
</footer>			
{% endblock %}