{% block footer %}
	<table class="table">
		<tr>
			<td> Coryright 2016 Groupe n°3 </td>
			<td> Mention légale </td>
			<td> Privacy Policy </td>
			<td>
				<button type="button" class="btn btn-default btn-sm">
          			<span class="glyphicon glyphicon-circle-arrow-up"></span> Up
        		</button>
			</td>
		</tr>	
	</table>		
{% endblock %}