{% block header %}

<div class="haut">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8">
          <div class="spara"> 
            <i class="fa fa-envelope-o lightblue"></i> FishBlock@gmail.com           
            
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="social">
                      <a href="#" class="bred"><i class="fa fa-google-plus fa-lg"></i></a> 
                      <a href="#" class="bblue"><i class="fa fa-facebook-official fa-lg"></i></a>
                      <a href="#" class="bviolet"><i class="fa fa-github-square fa-lg"></i></a>
            </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

{% endblock %}
