{% block nav %}

<nav class="navbar navbar-inverse navbar-center">
  <div class="container-fluid" id="main">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
          <a href="{{ path('homepage') }}"><img class="logo" src="{{ asset('logo.png') }}" alt="" /></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" id="menu">
          <li class="blightblue"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li class="bred"><a href="#"><span class="glyphicon glyphicon-star-empty"></span> News</a></li>
          <li class="bviolet"><a href="#"><span class="glyphicon glyphicon-play-circle"></span> Series</a></li>
          <li class="bgreen"><a  href="#"><span class="glyphicon glyphicon-calendar"></span> Calendrier</a></li>
          <li class="borange"><a href="#"><span class="glyphicon glyphicon-briefcase"></span> Dossiers</a></li>
          <li class="bblue"><a href="#"><span class="glyphicon glyphicon-bullhorn"></span> Critiques</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" id="log">
          <li class="bgrey"><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li class="bgrey"><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
  </div>
</nav>

{% endblock %}