body {font-size: 14px; }

 /* -------------------  MENU HEADER -------------------*/
.haut{
	background:#f8f8f8; 
	border-bottom: 1px solid;
	border-color: #e7e7e7;
	padding: 4px;
}

.social {
    float: right;
}

.social a {
    width: 60px;
    margin: 0px 3px;
    line-height: 20px;
    color: #fff;
    display: inline-block;
    text-align: center;
}

 /* -------------------  FIN HEADER -------------------*/


 /* -------------------  MENU NAV BAR -------------------*/

.navbar-inverse{
	height: 80px;
	background: #ffffff;
	border: none;
}

#main{
	margin-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.navbar .nav > li{
	margin: 0px 2px;
}

#menu > li > a {
    padding: 20px 15px;
    text-align: center;
    color: #ffffff;
    width: 115px;
     line-height: 38px;
}

.narvbar-right{
	margin-right: 0px;
}

#log > li {
    margin-top: 8px;
	text-align: center;
    color: #ffffff;
}

#log > li > a{
    color: #ffffff;
}

.blightblue {
    background: #52b9e9 !important;
    color: #fff !important;
    border-radius: 4px;
}

.bred {
    background: #fa3031 !important;
    color: #fff !important;
    border-radius: 4px;
}

.bviolet {
    background: #932ab6 !important;
    color: #fff !important;
    border-radius: 4px;
}

.bgreen {
    background: #43c83c !important;
    color: #fff !important;
    border-radius: 4px;
}

.borange {
    background: #f88529 !important;
    color: #fff !important;
    border-radius: 4px;
}

.bblue {
    background: #1171a3 !important;
    color: #fff !important;
    border-radius: 4px;
}

.bgrey{
	background: darkgrey !important;
    color: #fff !important;
    border-radius: 4px;
    margin-left: 5px;
}

.logo{
  padding-right: 25px;
}
 /* ------------------- FIN NAV BAR -------------------*/


 /* -------------------  BODY CONTAINER -------------------*/

.bodyactu{
	margin-top: 70px;
	height:100px;
}

#actu{
     padding: 0px; 
     margin: 0px;
}

#dif{
   
}

.carousel-page{
	width:100%;
	background-color:#ffffff;
	color:white;
}

.imgslide{
	width: 100%;
	height:100px;
}

.imgdif{
	width: 100%;
	height:100px;
}

.imgindex{
	width: 100%;
    margin: 4px;
}

#listeserie{
	margin-bottom: 70px; 
    margin-top: 30px;
}

#titrese{
    height: 20px;
	text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bodyactu .row .col-md-12{
    padding-right: 0px;
    padding-left: 0px;
}

 /* -------------------  DEBUT LOGIN & REGISTER-------------------*/

.wrapper {    
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
  max-width: 800px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.label{
    margin-bottom: 10px;
}

input[type="text"] {
  margin-bottom: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#submit{
    margin-top: 40px;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.spaced {
    padding-top: 10px;
    padding-bottom: 10px;
}

.normalize {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cover {
    width: 100%;
}

.footerfix
{
    margin-bottom: 70px;
}

.headerfix
{
    margin-top: 30px;
}

.formfix
{
    height: 34px;
}

.centered{
    text-align: center;
}