{% extends 'AdminBundle:Dashboard:base.html.twig' %}

{% block body %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Search for a serie</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-lg-offset-3 col-lg-6">
                <form action="{{ path('tvdb_searchpost')}}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="term" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}